eval (/opt/homebrew/bin/brew shellenv)

fish_add_path "$HOME/.local/bin"
fish_add_path "$HOME/.bun/bin"
{{ if eq .profile "work" }}
# ASDF configuration code
if test -z $ASDF_DATA_DIR
    set _asdf_shims "$HOME/.asdf/shims"
else
    set _asdf_shims "$ASDF_DATA_DIR/shims"
end

# Do not use fish_add_path (added in Fish 3.2) because it
# potentially changes the order of items in PATH
if not contains $_asdf_shims $PATH
    set -gx --prepend PATH $_asdf_shims
end
set --erase _asdf_shims
{{ end -}}
{{ if eq .profile "personal" }}
# Proto toolchain manager
set -gx PROTO_HOME "$HOME/.proto"
fish_add_path "$PROTO_HOME/shims"
fish_add_path "$PROTO_HOME/bin"
{{ end -}}

if status is-interactive
    tide configure --auto --style=Lean --prompt_colors='True color' --show_time='24-hour format' --lean_prompt_height='Two lines' --prompt_connection=Dotted --prompt_connection_andor_frame_color=Lightest --prompt_spacing=Sparse --icons='Few icons'
end
