#:schema https://docs.jj-vcs.dev/latest/config-schema.json

[user]
name = "Bryan Terce"
email = "{{ .email }}"

[aliases]
home = ["util", "exec", "--", "sh", "-c", "jj git fetch && jj new 'trunk()'"]
{{ if eq .profile "work" }}
[signing]
behavior = "own"
backend = "ssh"
key = "~/.ssh/id_rsa.pub"
{{ end }}
